{% extends 'admin_base.html.twig' %}

{% block title %}
  Hello GroupChannelsController!
{% endblock %}

{% block sidebar %}
  {{ include('channel_sidebar.html.twig', {channels: channels}) }}
{% endblock %}

{% block body %}
<h1>Welcome back! Let's start organizing your tasks!</h1>
{% endblock %}
