{% extends 'base.html.twig' %}

{% block title %}New GroupChannels
{% endblock %}

{% block body %}
	<div class="container mx-auto px-96 py-16">
		<h2 class="text-4xl font-extrabold dark:text-white mb-8">Create New Channel</h2>

		{{ include('group_channels/_form.html.twig') }}
	</div>
{% endblock %}
