{% extends 'admin_base.html.twig' %}

{% block title %}GroupChannels
{% endblock %}

{% block sidebar %}
	{{ include('channel_sidebar.html.twig', {channels: channels}) }}
{% endblock %}

{% block body %}
	<div class="container mx-0 my-1 px-2 py-1 border-b-2 border-gray-300">
		<h1 class="text-2xl font-bold">{{ groupChannel.channelName }}</h1>
	</div>
{% endblock %}
